.grid{
    display: grid;
    grid-template-columns: auto auto auto;
    border: 0.5px solid black;
    height: 500px;
    width: 500px;
    background-color: pink;
}

.grid div{
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: white;
}
